<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Example - Semantic</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="login/css/style.css">
    <style>
        body{
            background-color: #DADADA;
        }
        body > .grid{
            height: 100%;
        }
        .image{
            margin-top: -100px;
            height: 100%;
            width: 100%;
        }


        .alert-danger{
            position: relative;
            text-align: center;
            color: red;
        }
        .alert-success{
            position: relative;
            text-align: center;
            color: green;
        }
    </style>
</head>
<body>
<div class="ui middle aligned center aligned grid">
    <div class="colunm">
        <div class="ui teal header">
            <div class="images">
                <img src="./login/assets/images/logo.png" class="image">
            </div>
            <h2 class="content">Log-in to your account</h2>
        </div>
        <div th:if="${param.error}" class="alert-danger">Lỗi tên đăng nhập & mật khẩu</div>
        <div th:if="${param.logout}" class="alert-success">Đăng xuất thành công</div>
<!--        <p class="">[[${message}]]</p>-->
        <form action="/doLogin"  class="ui form" method="POST">
            <div class="ui stacked segment">
                <div class="field ">
                    <div class="ui input ">
                        <i class="fa fa-user icon"></i>
                        <input type="text" id="LoginEmail"  name="username" placeholder="E-mail address" >

                    </div>
<!--                    <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>-->
<!--                    <div class="error" id="error" style="visibility: hidden;">Please enter your e-mail</div>-->
                </div>
                <div class="field">
                    <div class="ui input">
                        <i class="fa fa-lock icon"></i>
                        <input type="password" id="LoginPassword" name="password" placeholder="Password">

                    </div>
<!--                    <div class="error-p" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>-->
<!--                    <div class="error-p" id="error-p" style="visibility: hidden;">Please enter your password</div>-->
                </div>
                <button class="ui button" type="submit" >Login</button>
            </div>

            <!-- <div class="errors">
                <ul>
                    <li id='requestDropDown' style="visibility:hidden;">Please enter your e-mail</li>
                    <li id='requestDropDown2' style="visibility:hidden;">Please enter a valid e-mail</li>
                    <li id='requestDropDown3' style="visibility:hidden;">Please enter your password</li>
                    <li id='requestDropDown4' style="visibility:hidden;">Your password must be at least 6 characters</li>
                </ul>
            </div> -->

        </form>

        <div class="ui message">
            New to us?
            <a href="/register">Sign Up</a>
        </div>

    </div>

</div>

<script>
        function checkOption(){

        var LoginEmail = document.getElementById('LoginEmail').value;
        var LoginPassword = document.getElementById('LoginPassword').value;
        const emailRegex=/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        // var passwordValidationMessage;
        // var emailValidationMessage;
        var check = true;
        if(LoginEmail.length==0){
            document.getElementById("error").style.visibility="visible";
            check=false;
        }else if(!LoginEmail.match(emailRegex) ){
            document.getElementById("error").style.visibility="visible";
            document.getElementById("error").textContent="Please enter a valid e-mail";
            check=false;
        }
        else{
            document.getElementById("error").style.visibility="hidden";
            check=true;
        }

        minLength = 6;
        maxLength = 32;
        if (LoginPassword.length==0) {
            document.getElementById("error-p").style.visibility="visible";
            check=false;
        }
        else if(LoginPassword.length < minLength || LoginPassword.length > maxLength ){
            document.getElementById("error-p").style.visibility="visible"
            document.getElementById("error-p").textContent="Your password must be at least 6 characters";
            check=false;
        }else{
            document.getElementById("error-p").style.visibility="hidden";
            check=true;
        }
        return check;
        }

        //This will fire on changing of the value of "requests"
        // var dropDown = document.getElementById("a");
        // // const elements = document.getElementsByClassName("error-c");

        // // for (let i = 0; i < elements.length; i++) {
        // //     const element = elements[i];
        // //     element.style.visibility = 'visible';
        // //     console.log('element', element);
        // // }
        // var textBox = document.getElementById("requestDropDown");
        // var textBox2 = document.getElementById("requestDropDown2");
        // var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        // console.log(dropDown.value);

        // if(dropDown.value == 0){
        //     textBox.style.visibility = "visible";
        //     textBox2.style.visibility = "visible";
        // }

        // var dropDown2 = document.getElementById("b");
        // var textBox3 = document.getElementById("requestDropDown3");
        // var textBox4 = document.getElementById("requestDropDown4");
        // console.log(dropDown2.value);
        // if(dropDown2.value == 0){
        //     textBox3.style.visibility = "visible";
        //     textBox4.style.visibility = "visible";


        // }
        //RemoveAllErrorMessage();

        // emailValidationMessage = isValidEmail(LoginEmail);
        // if(emailValidationMessage != "valid"){
        //     showErrorMessage('LoginEmail' ,emailValidationMessage);
        //     return false;
        // }

        // passwordValidationMessage = isValidPassword(LoginPassword);
        // if(passwordValidationMessage != "valid"){
        //     showErrorMessage('LoginPassword',passwordValidationMessage);
        //     return false;
        // }


        //return true;
        // }

        // function isValidPassword(password){

        //     minLength = 6;
        //     maxLength = 32;

        //     if(password == ""){
        //         return "Please enter your password"
        //     }

        //     if(password.length < minLength || password.length > maxLength){
        //         return "Your password must be at least 6 characters"
        //     }


        //     return "valid";
        // }

        // function isValidEmail(email){
        //     const emailRegex = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;

        //     if(email == ""){
        //         return "Please enter your e-mail"
        //     }

        //     if(emailRegex.test(email) == false){
        //         return "Please enter a valid e-mail"
        //     }

        //     return "valid";
        // }

        // function RemoveAllErrorMessage(){
        //     var allErrorField = document.getElementsByClassName('error-input');
        //     var allErrorMessage = document.getElementsByClassName('error-message');
        //     var i;

        //     for(i = (allErrorField.length - 1); i >= 0; i--){
        //         allErrorField[i].classList.remove('error-input');
        //     }
        //     for(i = (allErrorMessage.length - 1); i >= 0; i--){
        //         allErrorMessage[i].remove();
        //     }

        // }

        // function showErrorMessage(inputBoxID, Message){
        //     var InputBox = document.getElementById(inputBoxID);

        //     InputBox.classList.add('error-input');

        //     var ErrorMessageElement = document.createElement('p');
        //     ErrorMessageElement.classList.add('error-message');
        //     ErrorMessageElement.innerHTML = Message;

        //     LoginEmail.parentNode.insertBefore(ErrorMessageElement,LoginEmail.nextSibling);
        // }


    </script>
</body>
</html>