*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #ffffff;
}

.container{
    height: 600px;
    width: 600px;
}

.contact-title{
    text-align: center;
}

.forms{
    border: 1px solid #ffffff;
    padding-left: 30px;
    border-radius: 5px;
    box-shadow: 0px 5px 26px 8px #cccccc;
    position: relative;
}

.form-group{
    margin-bottom: 15px;
}

input{

    height: 40px;

}
.input-subjects{
    width: 358px;
}

.input-message{
    width: 358px;
}

.btn{
    height: 40px;
    width: 110px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgb(87, 140, 240);
    color: #ffffff;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(111, 152, 228);
}

.contact-us{
    position: absolute;
    border: 1px solid;
    height: 440px;
    width: 300px;
    right: -120px;
    top: -27px;
    background-color: rgb(87, 140, 240);
    color: #ffffff;
    border-radius: 5px;
}

.contact-us-bo{
    margin: 50px 0 0 30px;
}

.contact-us-map{
    margin-bottom: 40px;
}

.contact-us-phone{
    margin-bottom: 40px;
}

.contact-us-email{
    margin-bottom: 40px;
}

.contact-us-website{
    margin-bottom: 40px;
}

i{
    border-radius: 50%;
    background-color: rgb(111, 152, 228);
    height: 30px;
    width: 30px;
}
